.grid-container {
    width: 464px;
    height: 464px;
    border: 2px solid lightcoral;
    margin: 100px auto;
}

.grid {
    width: 15px;
    height: 15px;
    /* border: 2px solid black; */
    /* margin: 50px auto; */
}